<h2 id="assignment-a-dragon-curve">Assignment: A <em>dragon</em> curve</h2>
<p><strong>Partial</strong> overall score: 0/20</p>
<h3 id="grade-breakdown">Grade breakdown:</h3>
<ul>
<li><p>Correctness: 0/4</p>
<ul>
<li>Project <strong>did not</strong> compile.</li>
<li>Contact instructor to request a regrade.</li>
</ul></li>
</ul>
