<h2 id="assignment-a-time-class">Assignment: A <code>Time</code> class</h2>
<p><strong>Partial</strong> overall score: 4/20</p>
<h3 id="grade-breakdown">Grade breakdown:</h3>
<ul>
<li><p>Correctness: 4/4</p>
<ul>
<li>Project compiled ( 4/4 pts )</li>
<li>No other remarks for now.</li>
</ul></li>
</ul>
